<div class="col-md-6" >
    <!-- DIRECT CHAT -->
    <div class="box box-warning direct-chat direct-chat-warning" ng-repeat="friend in friends track by $index">
        <div class="box-header with-border">
            <h3 class="box-title" id="event_name">{{friend}}</h3>

            <div class="box-tools pull-right">
                <!--                    <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>-->
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>

                </button>
                <!--
<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
<i class="fa fa-comments"></i></button>
-->

                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages" id="{{friend}}">

            </div>
            <!--/.direct-chat-messages-->

            <!-- Contacts are loaded here -->
            <div class="direct-chat-contacts">
                <ul class="contacts-list">

                    <!--
<li>
<a href="#">
<img class="contacts-list-img" src="dist/img/user8-128x128.jpg" alt="User Image">

<div class="contacts-list-info">
<span class="contacts-list-name">
Kenneth M.
<small class="contacts-list-date pull-right">1/4/2015</small>
</span>
<span class="contacts-list-msg">Never mind I found...</span>
</div>

</a>
</li>
-->
                    <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
            </div>
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div>
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control" ng-model="message" my-enter="send_message('{{friend}}','{{message}}')">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-warning btn-flat" ng-click="send_message(friend,message)">Send</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
</div>
<!-- /.col -->